body {
  font-size: 1.2em;
}

div.tabs > a, div.tabs > button {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 1.2em;
}

div.tabs {
  margin-bottom: 10px;
}

.activeState {
  font-weight: bold;
}

li[ui-sref]:hover {
  display: inline-block;
  cursor: pointer;
  border: solid #000000 1px;
  padding: 0 5px 0 5px;
}
